<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block pagetitle %}{% endblock pagetitle %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
  </head>
  <body style="min-height:100vh;background-color:azure;">
    
    <nav class="navbar navbar-expand-lg bg-secondary sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand text-light mb-0 h1" href="#">Todo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link text-light" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" aria-current="page" href="/tasks">Tasks</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

{% block body %}
{% endblock body%}


<footer class="fixed-bottom text-light bg-secondary" style="display: flex; justify-content: center; align-items: center; padding: 5px;">
  Built with Django and Bootstrap | &copy; 2026 Aditya Gupta | <a href="/" class="mx-2 text-light">Home</a> | <a href="\tasks" class="mx-2 text-light">Tasks</a>
</footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
  </body>
</html>