{% extends "base.html" %}
{% block pagetitle %}Tasks{% endblock pagetitle %}
{% block body %}
<h1 class="text-center mt-5 ">Tasks List</h1>
<div class="container" style="width: 80vw; display: flex; align-items: center; justify-content: center;">
  <table class="mt-3 table table-secondary table-striped table-bordered border-dark align-middle">
    <thead>
      <tr>
        <th class="w-10 text-center" scope="col">S No.</th>
        <th class="w-25" scope="col">Title</th>
        <th class="w-50" scope="col">Description</th>
        <th class="w-15 text-center" scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for task in tasks %}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{task.tasktitle}}</td>
        <td>{{task.taskdesc}}</td>
        <td>
          <div class="d-flex justify-content-center align-items-center">

            <a href="{% url 'edittask' task.id %}" class="btn btn-light btn-sm mx-2 d-flex align-items-center">
              <i class="bi bi-pencil-square me-1"></i> Edit
            </a>

            <button href="{% url 'deltask' task.id %}" class="btn btn-outline-danger btn-sm mx-2 d-flex align-items-center"
            data-bs-toggle="modal"
        data-bs-target="#deleteModal{{ task.id }}">
              <i class="bi bi-trash-fill me-1"></i> Delete
            </button>
          </div>
        </td>
      </tr>
      <div class="modal fade" id="deleteModal{{ task.id }}" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">Confirm Deletion</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body">
        Are you sure you want to delete this task?

        <br><br>

        <strong>Title:</strong> {{ task.tasktitle }}
      </br>
        <strong>Description:</strong> {{ task.taskdesc|slice:70 }}...
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancel
        </button>

        <a href="{% url 'deltask' task.id %}" class="btn btn-danger">
          Yes, Delete
        </a>
      </div>

    </div>
  </div>
</div>
      {% endfor %}
    </tbody>
  </table>

</div>
<div style="display:flex; align-items: center; justify-content: center;">
  <a href="/"> Add more </a>
</div>
{% endblock body %}